*,*::before,*::after{ padding: 0; margin: 0;}
html { scroll-behavior: smooth; }

:root{
    --background-color: #17463D;
    --section-title-color: #9DC88D;
    --component-color: #6E8E61;
    --sub-text-color: #fff;
    --yellow: #F1C24A;
    --fz-heading: 2rem;
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --border-radius: 5px;
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

body{ 
    display: grid; place-items:center; background: var(--background-color);  
    font-family: var(--font-sans); margin: 0; -webkit-font-smoothing: antialiased;
    width: 100%; min-height: 100%; overflow-x: hidden; font-size: var(--fz-xl);
    line-height: 1.3; counter-reset: section;
}
p { margin: 0px 0px 15px; color: var(--sub-text-color);}
h1,h2,h3{ line-height: 1.1; font-weight: 600;}
section{ padding: 100px 0; max-width: 1200px;  }

.fade-in{ transition: 2s ease-in; }
.title-text{ color: var(--yellow); font-size: clamp(40px, 5vw, 60px);}
.subtext{ padding: 1rem 0; color: var(--sub-text-color) }
.find-button{color: var(--component-color) !important; border-color: var(--component-color) !important; font-weight: 500;}

/* Social media component*/
.socials-left{ width: 40px; position: fixed; bottom: 0px; left: 40px; right: auto; z-index: 10;}
.socials-left ul{ list-style: none; display: flex; flex-direction: column; gap: 0.5rem; margin: 0px; padding: 0px;}
.socials-left ul a{ color: var(--yellow)}
.socials-left ul::after{ content: ""; display: block; width: 1px; height: 150px; margin: 0px auto; background-color: var(--yellow);}

#content{ padding: 0px 150px; margin: auto;}

/* Main Page*/

.landing-page{ 
    display: flex; -webkit-box-pack: center; justify-content: center;
    -webkit-box-align: center; flex-direction: column; align-items: flex-start;
    min-height: 100vh; padding: 0px; 
}

.landing-page-text-wrap h1 { 
    margin: 0px 0px 30px 4px; color: var(--section-title-color);
    font-family: var(--font-mono); font-size: clamp(var(--fz-sm),5vw,var(--fz-md)); font-weight: 400; 
}

.big-heading{ margin: 0px; font-size: clamp(40px, 8vw, 80px); color: var(--yellow); }
.MuiButton-root:hover{border-color: var(--section-title-color)}
/* About section of MainPage */
.numbered-heading{ 
    display: flex; -webkit-box-align: center; align-items: center;
    position: relative; margin: 10px 0px 40px; width: 100%;
    font-size: clamp(26px,5vw,var(--fz-heading)); white-space: nowrap; color: var(--section-title-color); 
}

.numbered-heading::before{
    position: relative; bottom: -4px;
    counter-increment: section 1; content: "0" counter(section) ".";
    margin-right: 10px; color: var(--yellow);
    font-family: var(--font-mono); font-size: clamp(var(--fz-md),3vw,var(--fz-xl)); font-weight: 400;
}

.numbered-heading::after{
    content: "";
    display: block; position: relative; 
    width: 300px; height: 1px; margin-left: 20px;
    background-color: var(--component-color);
}

.sub-title-text{ font-size: clamp(26px,5vw,var(--fz-heading)); color: var(--section-title-color)}
.sub-title-text::after{
    content: ""; display: block; width: 450px; height: 1px; margin: 5px auto 20px auto; background-color: var(--yellow);
}


.recycle-picture{ margin: auto; }
.image-border::after{ 
    content: ""; position: absolute; width: 100%; height: 100%;
    display: block; border-radius: var(--border-radius); transition: var(--transition);
    top: 20px; left: 20px; border: 2px solid var(--component-color); z-index: -5; 
}
.image-border:hover::after{ top: 10px; left: 10px; }
.recycle-picture .wrapper{ display: block; position: relative; width: 100%; border-radius: var(--border-radius);}
.image-wrapper{ width: 100%; max-width: 100%; display: inline-block; vertical-align: middle; }
.recycle-picture .wrapper .gif{ width: 400px; height: 400px; position: relative; border-radius: var(--border-radius);}



/* Donate Section */
.donate-section{ min-height: 80vh;display:grid; place-items: center;}
.center-vertical-align{ text-align: center; vertical-align: middle;}
.donate-button{ justify-content: center; align-items: center;}
.image{
    width:50%; height:100%; background-size: cover;
    background-image:url(" https://www.recyclenb.com/storage/photos/shares/uploads/-yjpgjb.jpg");
    background-position: center; border-top-left-radius:10px; border-bottom-left-radius:10px;
}

/* Sources Section */
.sources-page{ display: grid; place-items: center; min-height: 80vh;}
.text{ padding-bottom: 4rem; }
.decor{ 
    position: absolute; left: -10rem; bottom: 1rem; filter :invert(); 
    /* transform: rotateZ(100deg) rotateY(200deg); */
}
.center-text{ text-align: center; }
.heading-text{ color:  #40B473; font-size: clamp(24px,5vw,var(--fz-heading)); padding-bottom :1rem;}
.archive-text{ color: #F1C24A; }

