.nav-container{
    text-align: right;   
}

.css-jz7rmq-MuiPaper-root-MuiAppBar-root { background-color: #17463D !important; box-shadow: none !important; }
.css-1y942vo-MuiButtonBase-root-MuiButton-root{ color: #F1C24A !important; margin-right: 1rem !important;}
.css-1y942vo-MuiButtonBase-root-MuiButton-root:hover{ border-radius: 0; border-bottom: 1px solid #F1C24A; transform: scale(1.05)}